* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

#head-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  border: 1px solid red;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .card {
  border: 1px solid black;
  width: 25%;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

